body {
  background: #000;
}
.backgroud {
  width: 100%;
  height: 1000px;
  background: url("../images/l.png");
  background-size: cover;
  background-attachment: fixed;
  /*固定定位*/
}
.backgroud .backgroud_box {
  width: 1200px;
  height: 100%;
  margin: auto;
}
.backgroud_font {
  width: 800px;
  height: 500px;
}
.backgroud_font > h1 {
  color: #fff;
  font-size: 50px;
  float: left;
  margin-top: 20%;
  letter-spacing: 4px;
}
.backgroud_font > h5 {
  color: #fff;
  font-size: 45px;
  float: left;
  margin-top: 5%;
  margin-left: 60%;
}
@media screen and (max-width: 1440px) {
  .backgroud_box {
    background: url("../images/m.png");
    background-size: 100% 100%;
  }
  .backgroud_box .backgroud_font {
    width: 100%;
  }
  .backgroud_box .backgroud_font > h1 {
    font-size: 35px;
    margin-left: 6%;
    margin-top: 15%;
  }
  .backgroud_box .backgroud_font > h5 {
    font-size: 32px;
    margin-left: 72%;
  }
}
@media screen and (max-width: 1024px) {
  .backgroud_box {
    background: url("../images/s.png");
    background-size: 100% 100%;
  }
  .backgroud_box .backgroud_font {
    width: 100%;
  }
  .backgroud_box .backgroud_font > h1 {
    font-size: 30px;
    margin-left: 10%;
    margin-top: 15%;
  }
  .backgroud_box .backgroud_font > h5 {
    font-size: 28px;
    margin-left: 65%;
  }
}
.top {
  width: 100%;
  height: 1000px;
}
.top > .top_box {
  width: 1200px;
  height: 100px;
  margin: auto;
  position: relative;
}
.top .fish {
  width: 350px;
  height: 500px;
  background: url("../images/2-1.png") no-repeat;
  background-size: 350px 500px;
  position: absolute;
  left: 850px;
  top: 240px;
  z-index: 5;
  display: none;
}
nav {
  width: 100%;
  height: 45px;
  background: #eee;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  z-index: 99;
}
.ul_box {
  width: 1200px;
  height: 100%;
  margin: auto;
  z-index: 100;
}
.ul_box li {
  width: 150px;
  height: 100%;
  float: left;
  text-align: center;
  line-height: 45px;
  font-size: 20px;
  transition: all 0.5s;
  border-radius: 5%;
}
.ul_box > li:hover {
  background: #888;
  height: 120%;
  box-shadow: 0 0 15px 2px #000,0px 0px 20px 2px #eee inset;
}
.ul_box > li:hover .on {
  color: #fff;
}
.hover1 {
  background: #888;
  height: 80px;
  box-shadow: 0 0 15px 2px #000,0px 0px 20px 2px #eee inset;
}
.my_box {
  width: 1200px;
  height: 1000px;
  margin: auto;
}
.my_box > h1 {
  padding: 120px 0 0 50px;
  font-size: 50px;
  color: #fff;
  text-shadow: 5px 5px 5px #555;
}
.my_box > h3 {
  margin: 280px 0 0 90px;
  font-size: 20px;
  color: #ff3232;
  float: left;
  animation: color 1s;
  animation-iteration-count: infinite;
  /*无限循环*/
  animation-direction: reverse;
  /*播放-倒带-播放*/
}
@keyframes color {
  0% {
    color: red;
  }
  50% {
    color: orange;
  }
  100% {
    color: red;
  }
}
.myBox1 {
  width: 200px;
  height: 200px;
  margin: 50px 80px;
  perspective: 800px;
  background: url("../images/aa2.png");
  color: #fff;
  position: absolute;
  left: 0;
  top: 200px;
  z-index: 11;
}
.div1 {
  width: 100%;
  height: 100%;
  position: relative;
  transition: all 1s cubic-bezier(0.62, -0.57, 0.49, 1.8);
  transform: rotateX(90deg);
  background: url("../images/g1.png");
}
.myBox1:hover .div1 {
  transform: rotateX(0deg);
  /*X轴旋转45度*/
  width: 1100px;
  height: 600px;
}
.myBox2 {
  width: 800px;
  height: 400px;
  position: relative;
  left: 350px;
  top: -250px;
  z-index: 10;
}
.myBox2 > span {
  color: #fff;
  cursor: pointer;
}
.myBox2 > hr {
  margin: 20px;
  width: 700px;
}
.myBox2 > span:nth-child(1) {
  font-size: 60px;
  float: left;
  margin-right: 350px;
}
.myBox2 > span:nth-child(3) {
  font-size: 40px;
}
.myBox2 > span:nth-child(4) {
  font-size: 60px;
  margin-right: 60px;
}
.myBox2 > span:nth-child(5) {
  font-size: 40px;
}
.myBox2 > span:nth-child(6) {
  font-size: 60px;
}
.myBox2 > span:nth-child(8) {
  font-size: 40px;
}
.myBox2 > span:nth-child(9) {
  font-size: 60px;
}
.myBox2 > span:nth-child(11) {
  font-size: 40px;
}
.myBox2 > span:nth-child(12) {
  font-size: 50px;
}
.myBox2 > span:nth-child(14) {
  font-size: 40px;
}
.myBox2 > span:nth-child(15) {
  font-size: 40px;
}
@media screen and (max-width: 1024px) {
  .top_box {
    width: 900px;
    height: 100px;
    margin: auto;
    position: relative;
  }
  .top_box .fish {
    width: 280px;
    height: 400px;
    background: url("../images/2-1.png") no-repeat;
    background-size: 280px 400px;
    position: absolute;
    left: 500px;
    top: 150px;
    z-index: 5;
    display: none;
  }
  .my_box > h3 {
    display: none;
  }
  .myBox1 {
    display: none;
  }
  .myBox2 {
    width: 600px;
    height: 300px;
    left: 150px;
    top: 100px;
  }
  .myBox2 > hr {
    width: 500px;
  }
  .myBox2 > span:nth-child(1) {
    font-size: 40px;
  }
  .myBox2 > span:nth-child(3) {
    font-size: 30px;
  }
  .myBox2 > span:nth-child(4) {
    font-size: 40px;
  }
  .myBox2 > span:nth-child(5) {
    font-size: 30px;
  }
  .myBox2 > span:nth-child(6) {
    font-size: 40px;
  }
  .myBox2 > span:nth-child(8) {
    font-size: 30px;
  }
  .myBox2 > span:nth-child(9) {
    font-size: 40px;
  }
  .myBox2 > span:nth-child(11) {
    font-size: 30px;
  }
  .myBox2 > span:nth-child(12) {
    font-size: 40px;
  }
  .myBox2 > span:nth-child(14) {
    font-size: 30px;
  }
  .myBox2 > span:nth-child(15) {
    font-size: 30px;
  }
}
.lc_kill {
  width: 100%;
  height: 1000px;
  position: relative;
}
.lc_kill .plum {
  width: 500px;
  height: 330px;
  background: url("../images/mh.png") no-repeat;
  background-size: 500px 330px;
  position: absolute;
  left: 1000px;
  top: 0px;
  z-index: 5;
  display: none;
}
.lc_kill .kill_box {
  width: 1200px;
  height: 100%;
  margin: auto;
}
.lc_kill .kill_box > h1 {
  padding: 100px 0 0 50px;
  font-size: 50px;
  color: #fff;
  text-shadow: 5px 5px 5px #555;
}
.lc_kill .kill_box .kill_production {
  width: 1050px;
  height: 500px;
  margin-left: 110px;
  margin-top: 50px;
}
.lc_kill .kill_box .kill_production li {
  width: 310px;
  height: 200px;
  border-radius: 20px;
  border: 2px solid #aaa;
  float: left;
  margin-left: 25px;
  margin-top: 25px;
}
.lc_kill .kill_box .kill_production li .blog {
  font-size: 45px;
  border-radius: 20px;
  color: #999;
  display: block;
  text-align: center;
  line-height: 200px;
  transition: font-size 1s cubic-bezier(0.62, -0.57, 0.49, 2.9), box-shadow 0.5s, color 1s;
}
.lc_kill .kill_box .kill_production li .blog:hover {
  font-size: 50px;
  box-shadow: 0 0 20px 5px #00c1e4,0 0 120px 10px #00c1e4 inset;
  color: #ff00fc;
}
.lc_kill .kill_box .kills {
  width: 100%;
  height: 200px;
  float: left;
  margin-top: 30px;
  margin-left: 135px;
}
.lc_kill .kill_box .kills > li:nth-child(1) {
  width: 100px;
  float: left;
  background: url("../images/k1.png") no-repeat;
  background-size: 80%;
  height: 80%;
}
.lc_kill .kill_box .kills > li:nth-child(2) {
  width: 100px;
  float: left;
  margin-left: 20px;
  background: url("../images/k2.png") no-repeat;
  background-size: 80%;
  height: 80%;
}
.lc_kill .kill_box .kills > li:nth-child(3) {
  width: 100px;
  float: left;
  margin-left: 20px;
  background: url("../images/k3.png") no-repeat;
  background-size: 80%;
  height: 80%;
}
.lc_kill .kill_box .kills > li:nth-child(4) {
  width: 120px;
  float: left;
  margin-left: 20px;
  background: url("../images/jQuery.png") no-repeat;
  background-size: 80%;
  height: 80%;
}
.lc_kill .kill_box .kills > li:nth-child(5) {
  width: 120px;
  float: left;
  margin-left: 20px;
  background: url("../images/less.png") no-repeat;
  background-size: 100%;
  height: 80%;
}
.lc_kill .kill_box .kills > li:nth-child(6) {
  width: 120px;
  float: left;
  margin-left: 20px;
  background: url("../images/node.png") no-repeat;
  background-size: 80%;
  height: 80%;
}
.lc_kill .kill_box .kills > li:nth-child(7) {
  width: 120px;
  float: left;
  margin-left: 20px;
  background: url("../images/angular.png") no-repeat;
  background-size: 100%;
  height: 80%;
}
.lc_kill .kill_box .kills > li:nth-child(8) {
  width: 120px;
  float: left;
  background: url("../images/gulp.png") no-repeat;
  background-size: 100%;
  height: 80%;
}
.lc_life {
  width: 100%;
  height: 1000px;
  position: relative;
}
.lc_life .leaf {
  width: 525px;
  height: 350px;
  background: url("../images/4.png") no-repeat;
  background-size: 525px 350px;
  position: absolute;
  left: 1000px;
  top: 0px;
  z-index: 5;
  right: 0;
  display: none;
  margin: auto;
}
.lc_life .life_box {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 1200px;
  height: 100%;
  z-index: 6;
}
.lc_life .life_box > h1 {
  padding: 50px 0 0 50px;
  font-size: 50px;
  color: #fff;
  text-shadow: 5px 5px 5px #555;
}
.lc_life .life_box .life_production {
  width: 1050px;
  height: 400px;
  margin-left: 110px;
  margin-top: 50px;
}
.lc_life .life_box .life_production li:nth-child(1) {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  border: 2px solid #aaa;
  float: left;
  margin-left: 25px;
  margin-top: 25px;
  background: url("../images/life1.png");
  background-size: 300px 300px;
  transition: transform 0.8s ease;
}
.lc_life .life_box .life_production li:nth-child(1):hover {
  transform: rotate(360deg);
}
.lc_life .life_box .life_production li:nth-child(2) {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  border: 2px solid #aaa;
  float: left;
  margin-left: 25px;
  margin-top: 25px;
  background: url("../images/life2.jpg");
  background-size: 300px 300px;
  transition: transform 0.8s ease;
}
.lc_life .life_box .life_production li:nth-child(2):hover {
  transform: rotate(360deg);
}
.lc_life .life_box .life_production li:nth-child(3) {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  border: 2px solid #aaa;
  float: left;
  margin-left: 25px;
  margin-top: 25px;
  background: url("../images/qiu.png");
  background-size: 300px 300px;
  transition: transform 0.8s ease;
}
.lc_life .life_box .life_production li:nth-child(3):hover {
  transform: rotate(360deg);
}
.lc_life .life_box .life_font {
  width: 100%;
  height: 200px;
  float: left;
  margin-left: 135px;
}
.lc_life .life_box .life_font > li:nth-child(1) {
  width: 325px;
  float: left;
  color: #fff;
}
.lc_life .life_box .life_font > li:nth-child(1) span:nth-child(1) {
  width: 150px;
  height: 50px;
  font-size: 30px;
  float: left;
  text-align: right;
  line-height: 50px;
}
.lc_life .life_box .life_font > li:nth-child(1) span:nth-child(2) {
  width: 140px;
  height: 50px;
  font-size: 18px;
  float: left;
  margin-left: 10px;
  line-height: 60px;
  color: #999;
}
.lc_life .life_box .life_font > li:nth-child(1) span:nth-child(3) {
  width: 260px;
  height: 50px;
  font-size: 20px;
  float: left;
  padding: 20px;
}
.lc_life .life_box .life_font > li:nth-child(2) {
  width: 325px;
  float: left;
  color: #fff;
}
.lc_life .life_box .life_font > li:nth-child(2) span:nth-child(1) {
  width: 150px;
  height: 50px;
  font-size: 30px;
  float: left;
  text-align: right;
  line-height: 50px;
}
.lc_life .life_box .life_font > li:nth-child(2) span:nth-child(2) {
  width: 140px;
  height: 50px;
  font-size: 18px;
  float: left;
  margin-left: 10px;
  line-height: 60px;
  color: #999;
}
.lc_life .life_box .life_font > li:nth-child(2) span:nth-child(3) {
  width: 260px;
  height: 50px;
  font-size: 20px;
  float: left;
  padding: 20px;
}
.lc_life .life_box .life_font > li:nth-child(3) {
  width: 325px;
  float: left;
  color: #fff;
}
.lc_life .life_box .life_font > li:nth-child(3) span:nth-child(1) {
  width: 150px;
  height: 50px;
  font-size: 30px;
  float: left;
  text-align: right;
  line-height: 50px;
}
.lc_life .life_box .life_font > li:nth-child(3) span:nth-child(2) {
  width: 140px;
  height: 50px;
  font-size: 18px;
  float: left;
  margin-left: 10px;
  line-height: 60px;
  color: #999;
}
.lc_life .life_box .life_font > li:nth-child(3) span:nth-child(3) {
  width: 260px;
  height: 50px;
  font-size: 20px;
  float: left;
  padding: 20px;
}
.my_contact {
  width: 100%;
  height: 800px;
}
.my_contact .contact_box {
  width: 1200px;
  height: 100%;
  margin: auto;
}
.my_contact .contact_box > h1 {
  padding: 50px;
  margin-left: 500px;
  font-size: 50px;
  color: #fff;
  text-shadow: 5px 5px 5px #555;
}
.my_contact .contact_box ul:nth-child(2) {
  width: 1050px;
  height: 150px;
  margin-left: 110px;
  background: #fff;
  float: left;
  margin-top: 20px;
}
.my_contact .contact_box ul:nth-child(2) li {
  width: 150px;
  height: 150px;
  float: left;
}
.my_contact .contact_box ul:nth-child(2) li > a {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #fff;
  float: left;
  margin-left: 40px;
  margin-top: 25px;
}
.my_contact .contact_box ul:nth-child(2) li span {
  width: 150px;
  height: 40px;
  float: left;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  color: #222;
}
.my_contact .contact_box ul:nth-child(2) li:nth-child(1) {
  width: 150px;
  height: 150px;
  background: #bbb;
}
.my_contact .contact_box ul:nth-child(2) li:nth-child(1) span {
  width: 150px;
  height: 150px;
  color: #fff;
  line-height: 150px;
  text-align: center;
  font-size: 30px;
  animation: color1 5s linear;
  animation-iteration-count: infinite;
  /*无限循环*/
  animation-direction: reverse;
  /*播放-倒带-播放*/
}
@keyframes color1 {
  0% {
    color: #EC191F;
  }
  50% {
    color: #00AF52;
  }
  100% {
    color: #EC191F;
  }
}
.my_contact .contact_box ul:nth-child(2) li:nth-child(2) {
  width: 150px;
  height: 150px;
  background: #999;
  transition: background 1.5s ease;
}
.my_contact .contact_box ul:nth-child(2) li:nth-child(2):hover {
  background: #fff;
}
.my_contact .contact_box ul:nth-child(2) li:nth-child(2) > a {
  background: url("../images/d1.png") no-repeat center;
  background-size: 70px 70px;
  margin-left: 40px;
  transition: transform 1s ease;
}
.my_contact .contact_box ul:nth-child(2) li:nth-child(2) > a:hover {
  transform: rotate(360deg);
}
.my_contact .contact_box ul:nth-child(2) li:nth-child(2) > span {
  width: 150px;
}
.my_contact .contact_box ul:nth-child(2) li:nth-child(3) {
  width: 150px;
  height: 150px;
  background: #bbb;
  transition: background 1.5s ease;
}
.my_contact .contact_box ul:nth-child(2) li:nth-child(3):hover {
  background: #fff;
}
.my_contact .contact_box ul:nth-child(2) li:nth-child(3) > a {
  background: url("../images/d3.png") no-repeat center;
  background-size: 70px 70px;
  margin-left: 40px;
  transition: transform 1s ease;
}
.my_contact .contact_box ul:nth-child(2) li:nth-child(3) > a:hover {
  transform: rotate(360deg);
}
.my_contact .contact_box ul:nth-child(2) li:nth-child(3) > span {
  width: 150px;
}
.my_contact .contact_box ul:nth-child(2) li:nth-child(4) {
  background: #999;
  transition: background 1.5s ease;
}
.my_contact .contact_box ul:nth-child(2) li:nth-child(4):hover {
  background: #fff;
}
.my_contact .contact_box ul:nth-child(2) li:nth-child(4) > a {
  background: url("../images/l1.png") no-repeat center;
  background-size: 70px 70px;
}
.my_contact .contact_box ul:nth-child(2) li:nth-child(4) > a:hover #ewm1 {
  display: block;
}
.my_contact .contact_box ul:nth-child(2) li:nth-child(4) > a > div {
  width: 200px;
  height: 300px;
  background: url("../images/ewm1.jpg");
  background-size: 200px 300px;
  position: relative;
  left: 70px;
  top: -120px;
  display: none;
}
.my_contact .contact_box ul:nth-child(2) li:nth-child(5) {
  background: #bbb;
  transition: background 1.5s ease;
}
.my_contact .contact_box ul:nth-child(2) li:nth-child(5):hover {
  background: #fff;
}
.my_contact .contact_box ul:nth-child(2) li:nth-child(5) > a {
  background: url("../images/l2.png") no-repeat center;
  background-size: 70px 70px;
}
.my_contact .contact_box ul:nth-child(2) li:nth-child(5) > a:hover #ewm2 {
  display: block;
}
.my_contact .contact_box ul:nth-child(2) li:nth-child(5) > a > div {
  width: 200px;
  height: 300px;
  background: url("../images/ewm2.jpg");
  background-size: 200px 300px;
  position: relative;
  left: 70px;
  top: -120px;
  display: none;
}
.my_contact .contact_box ul:nth-child(2) li:nth-child(6) {
  width: 300px;
  height: 150px;
  background: #999;
  transition: background 1.5s ease;
}
.my_contact .contact_box ul:nth-child(2) li:nth-child(6):hover {
  background: #fff;
}
.my_contact .contact_box ul:nth-child(2) li:nth-child(6) > a {
  background: url("../images/l7.png") no-repeat center;
  background-size: 70px 70px;
  margin-left: 115px;
  transition: transform 1s ease;
}
.my_contact .contact_box ul:nth-child(2) li:nth-child(6) > a:hover {
  transform: rotate(360deg);
}
.my_contact .contact_box ul:nth-child(2) li:nth-child(6) > span {
  width: 300px;
}
