*{
	margin:0;
	padding:0;
	list-style: none;
}
.section1 { background: url(../img/section1.jpg) 50%;background-size: cover;}
.section2 { background: url(../img/section2.jpg) 50%;background-size: cover;}
.section3 { background: url(../img/section3.jpg) 50%;background-size: cover;}
.section4 { background: url(../img/section4.jpg) 50%;background-size: cover;}
.section5 { background: url(../img/section5.jpg) 50%;background-size: cover;}
.section6 { background: url(../img/section6.jpg) 50%;background-size: cover;}
.section7 { background: url(../img/section7.jpg) 50%;background-size: cover;}
.section8 { background: url(../img/section8.jpg) 50%;background-size: cover;}
.section9 { background: url(../img/section9.jpg) 50%;background-size: cover;}
.section10 { background: url(../img/section10.jpg) 50%;background-size: cover;}
.page1img{
	width:375px;
	height: 26px;
	position: absolute;
	left:50%;
	top:-26px;
	margin-left:-187px;
	justify-content: space-around;
	transition: all 0.5s ease;
}
.active .page1img{
	top:26px;
	transition-delay: 0.7s;
}
.page1img a{
	display: block;
	width: 100%;
	height: 100%;
	background-image: url(../img/logo.png);
	background-size: cover;
}
.page1{
	position: absolute;
	left:50%;
	height: 176px;
	width: 554px;
	margin-left:-277px;
	top:25%;
	opacity: 0;
	background-image: url(../img/slogan.png);
	background-repeat: no-repeat;
	background-position: center;
	transform: scale(0.5,0.5);	
	transition: all 0.5s ease;
}
.active .page1{
	opacity: 1;
	transform: scale(1, 1);
	transition-delay: 0.7s;
}
.p11{
	position: absolute;
	left:50%;
	top:490px;
	width: 600px;
	margin-left: -300px;
	font-size: 14px;
	color:#94a7c6;
	opacity: 0;
	transition: all 0.5s ease;
}
.active .p11{
	opacity: 1;
	transition-delay: 0.7s;
}
.page100{	
	width: 100%;
	height: 377px;
	position: absolute;
	left:0;
	bottom:-300px;
	background-image: url(../img/bg12.png);
	opacity: 0;
	background-repeat: no-repeat;
	background-position:center;
	transition: all 0.5s ease;
}
.active .page100{
	bottom: 150px;
    opacity: 1;
    transition-delay: 0.7s;
}
.page101{
	width: 100%;
	height: 377px;
	position: absolute;
	bottom:-377px;
	left:0;
	background: url(../img/bg13.png) 50% 0 no-repeat;
	transition: all 0.5s ease;
}
.active .page101{
	bottom: 0;
    transition-delay: 0.7s;
}
/*第一页*/




.page201{
	width:819px;
	height: 325px;
	position: absolute;
	bottom:-325px;
	left:50%;
	margin-left:-410px;
	background-image: url(../img/bg23.png);
	background-size: 100%;
	transition: all 0.5s ease;
}
.active .page201{
	bottom:140px;
	transition-delay: 0.7s;
}
.page202{
	width: 300px;
	height: 250px;
	position: absolute;
	bottom:200px;
	left:-315px;
	background-image: url(../img/bg22.png);
	background-size: cover;
	transition: all 0.5s ease;  
}
.active .page202{
	left:50%;
	margin-left:-588px;
	transition-delay: 0.7s;
}
.page203{
	width: 300px;
	height: 280px;
	position: absolute;
	bottom:200px;
	right:-300px;
	background-image: url(../img/bg21.png);
	background-size: cover;
	transition: all 0.5s ease; 
}
.active .page203{
	right:280px;
	transition-delay: 0.7s;
}
.page2text{
	position: absolute;
	width: 600px;
	height: 115px;
	transform: scale(0.5,0.5);
	left:50%;
	top:160px;
	margin-left:-256px;
	transition: all 0.5s ease;	
	opacity: 0;
}
.page2text h3{
	font-size: 25px;
	font-weight: normal;
	color:#748A9E;	
}
.page2text p{
	margin-top:10px;
	font-size: 45px;
	font-weight: lighter;
}
.active .page2text{
	transform: scale(1,1);
	transition-delay: 0.7s;
	opacity: 1;
}
.page2h6{
	font-weight: normal;
	font-size: 16px;
	position: absolute;
	text-align: justify;
	width: 590px;
	height: auto;
	color: #727F8C;
	left:50%;
	top:270px;
	margin-left:-256px;
	transition: all 0.5s ease;
	opacity: 0;
}
.active .page2h6{
	transition-delay: 1.5s;
	opacity: 1;
}
.page3text p{
	color:#748A9E;
}
.page3text p{
	color:#FFF577;
}
.page301{
	position: absolute;
	width: 892px;
	height: 472px;
	left:50%;
	bottom:80px;
	margin-left:-456px;
	background-image: url(../img/bg31.png);
	background-size: cover;
	transition: all 0.5s ease;	
	opacity: 0;
}
.active .page301{
	transition-delay: 0.7s;
	opacity: 1;
}
.page302{
	width: 441px;
	height: 380px;
	position: absolute;
	right:-34%;
	bottom:0;
	margin-left:50%;
	background-image:url(../img/bg33.png) ;
	background-size: cover;
	transition: all 0.5s ease;
}
.active .page302{
	transition-delay: 0.7s;
	right:34%;
}
.page3p{
	width: 430px;
	position: absolute;
	left:-40%;
	top:50%;
	margin-top:-100px;
	color:#FFFDE1;
	transition: all 0.5s ease;
}
.active .page3p{
	transition-delay: 0.7s;
	left:18%;
}
.page303{
	width: 300px;
	height: 150px;
	bottom:0;
	margin-left:100px;
	background-image:url(../img/bg32.png) ;
}
.page4text{
	color:#00A0E9;
}
.page401{
	background-image: url(../img/bg42.png);
	transition: all 0.8s ease;
}
.page402{
	background-image: url(../img/bg41.png);
}
.page501{
	height: 338px;
	width: 208px;
	position: absolute;
	bottom:195px;
	left:0;
	transition: all 0.5s ease;
	opacity: 0;
}
.page501 img{
	width: 80%;
	height: 180px;
	display: block;
	margin:0 auto;
}
.active .page501{
	left:50%;
	margin-left:-600px;
	transition-delay: 0.7s;
	opacity: 1;
}
.active .page502{
	margin-left:-300px;
}
.active .page503{
	right:50%;
	margin-right:-300px;
	transition-delay: 0.7s;
	opacity: 1;
}
.active .page504{
	right:50%;	
	margin-right:-600px;
	
	transition-delay: 0.7s;
	opacity: 1;
}
.page501 h4{
	font-size: 23px;
	color:#fff;
	line-height: 60px;
	font-weight: normal;
}
.page501 p{
	font-size: 14px;
	color:#fff;
	text-align: justify;
	line-height:26px;
}
.page503 img{
	width: 80%;
	height: 180px;
	display: block;
	margin:0 auto;
}
.page503 h4{
	font-size: 23px;
	color:#fff;
	line-height: 60px;
	font-weight: normal;
}
.page503 p{
	font-size: 14px;
	color:#fff;
	text-align: justify;
	line-height:26px;
}
.page502 {
	left:225px;
}
.page503 {
	height: 338px;
	width: 208px;
	position: absolute;
	bottom:195px;
	right:300px;
	transition: all 0.5s ease;
	opacity: 0;
}
.page504 {
	height: 338px;
	width: 208px;
	position: absolute;
	bottom:195px;
	right:0;
	transition: all 0.5s ease;
	opacity: 0;
}

.page601{
	width: 100%;
	height: 454px;
	position: absolute;
	top:-454px;
	left:0;
	opacity: 0;
	background-image: url(../img/bg61.png);
	background-size: 60% 100%;
	background-position: center 0;
	background-repeat: no-repeat;
	transition: all 0.5s ease;
	z-index: 0;
}
.active .page601{
	top:0;
	opacity: 1;
	transition-delay: 0.7s;
}
.page602{
	height: 284px;
	width: 597px;
	position: absolute;
	left:-597px;
	bottom: 205px;
	background-image: url(../img/bg62.png);
	background-size: cover;
	transition: all 0.5s ease;
}
.active .page602{
	left:20%;
	transition-delay: 0.7s;
}
.page603{
	height: 219px;
	width: 447px;
	position: absolute;
	right:-447px;
	bottom: 205px;
	background-size: cover;
	transition: all 0.5s ease;
	padding-top:10px;
	box-sizing: border-box;
}
.page603 p{
	margin-bottom: 20px;
	color:#5C7970;
}
.active .page603{
	right:20%;
	transition-delay: 0.7s;
}
.page7text{
	color:#BBE117;
}
.page701{
	width: 100%;
	height: 251px;
	position: absolute;
	bottom:0;
	background-image: url(../img/bg74.png);
	background-size: cover;
	z-index: 100;
}
.page702{
	height: 388px;
	width: 715px;
	position: absolute;
	left:50%;
	margin-left:-600px;
	bottom: -388px;
	z-index: 0;
	transition: all 0.5s ease;
}
.active .page702{
	bottom: 150px;
	transition-delay: 0.7s;
}
.page7img1{
	display: block;
	position: absolute;
	height: 200px;
	width: 90%;
	bottom:120px;
	margin-left:30px;
}
.page7img2{
	display: block;
	position: absolute;
	bottom:170px;
	left:50%;
	margin-left:-530px;
	z-index: 1;
}
.page7img3{
	position: absolute;
	right:95px;
	z-index: 0;
	top:0;
}
.page7text1{
	height: 165px;
	width: 420px;
	position: absolute;
	bottom:-165px;
	left:50%;
	margin-left:80px;
	opacity: 0;
	transition: all 0.5s ease;
}
.page7text1 p{
	margin-bottom: 20px;
	color:#fff;
}
.active .page7text1{
	opacity: 1;
	bottom:380px;
	transition-delay: 0.7s;
}
.page801{
	position: absolute;
	width: 100%;
	height: 215px;
	bottom:100px;
	background-image:url(../img/bg81.png);
	background-repeat: no-repeat;
	background-position: center;
}
.page8img1{
	position: absolute;
	left:45%;
	bottom:160px;
	height: 117px;
	width: 163px;
	opacity: 0;
	transition: all 0.5s ease; 
}
.active .page8img1{
	margin-left:-280px;
	bottom:260px;
	opacity: 1;
	transition-delay: 0.7s;
}
.page8img2{
	position: absolute;
	left:40%;
	bottom:180px;
	height: 34px;
	width: 70px;
	opacity: 0;
	transition: all 0.5s ease; 
}
.active .page8img2{
	bottom:380px;
	opacity: 1;
	transition-delay: 1s;
	margin-left:-290px;
}
.page8img3{
	position: absolute;
	left:35%;
	bottom:222px;
	height: 26px;
	width: 43px;
	opacity: 0;
	transition: all 0.5s ease; 
}
.active .page8img3{
	bottom:422px;
	opacity: 1;
	transition-delay: 1.3s;
	margin-left:-320px;
}
.page9text{
	width: 700px;
}
.page9text h3{
	float: left;
	line-height: 40px;
	margin-top:-10px;	
}
.page9text p{
	float: left;
	margin-top:0;
	color:#fff;
}
.page9text img{
	float: left;
	padding-right: 10px;
}
.page901{
	height: 434px;
	width: 340px;
	position: absolute;
	left:50%;
	bottom:140px;
	margin-left:-170px;
	opacity: 0;
	transition: all 0.5s ease;
}
.page901 img{
	width:80%;
	margin:0 auto;
	height: 310px;
	display: block;
}
.page901 p{
	color:#fff;	
	width:70%;
	margin:0 auto;
	padding-left: 10px;
	box-sizing: border-box;
	margin-top: 30px;
	line-height: 25px;
}
.active .page901{
	opacity: 1;
	transition-delay: 0.7s;
}
.page902{
	position: absolute;
	height: 434px;
	bottom:140px;
	width: 340px;
	left:-340px;
	margin-left:-570px;
	opacity: 0;
	transition: all 1s ease;
}
.active .page902{
	left:50%;
	transition-delay: 0.7s;
	opacity: 1;
}
.page902 img{
	width: 70%;
	margin:0 auto;
	height:310px;
}
.page902 p{
	color:#fff;	
	margin-left:30px;
	display: block;
	margin-top: 30px;
	line-height: 25px;
	border-right: 1px solid #fff;	
}
.page903{
	margin-left:220px;
	left:100%;
	opacity: 0;
	transition: all 1s ease;
}
.active .page903{
	left:50%;
	transition-delay: 0.7s;
	opacity: 1;
}
.page903 img{
	width: 100%;

	height:310px;
}
.page903 p{
	border-right:0;
	border-left:1px solid #fff;
	margin-left:0;
	padding-left:55px;
}
.page10{
	background: none;
}

.page10 img:first-child{
	margin-left:40px;
}
.page10 img:nth-child(2){
	margin-top:20px;
}
.page10btn{
	height:70px;
	width: 254px;
	position: absolute;
	top:650px;
	left:50%;
	margin-left:-126px;
	opacity: 0;
	transition: all 0.5s ease;
}
.page10btn img{
	display: block;
	height: 100%;
	width: 100%;
}
.active .page10btn{
	top:463px;
	transition-delay: 0.7s;
	opacity: 1;
}
.page10foot{
	width: 582px;
	height: 17px;
	position: absolute;
	bottom:24px;
	left:50%;
	transform: translateX(-50%);
} 
.page10foot a{
	font-size: 12px;
	color:#cccccc;
	margin-left:8px;
}
.page10foot a:nth-child(6){
	margin-left:20px;
}
.page10foot p{
	position: absolute;
	left:380px;
	color:#cccccc;
	top:0;
}
