@media screen and (max-width:1260px){
	.head{
		width: 982px;
	}
	.dh1{
		width: 982px;
	}
	.dh2 li:nth-child(5)~li{
		display: none;
	}
	.dh0{
		width:782px ;
	}
	.dh2 li:nth-child(5){
		border-right:0;
	}
	.subnav1{
		width: 982px;
	}
	.subnav2_1:nth-child(8)~a{
		display: none;
	}
	.bnlbd{

		position: absolute;
		left:520px;
	}
	.banner{
		width: 982px;
	}
	.sbbnright1:nth-child(15){
		display: none;

	}
	.sbbnright1:nth-child(16){
		display: none;

	}
	.sbbnright1:nth-child(17){
		display: none;

	}
	.sbbnright1:nth-child(18){
		display: none;

	}
	.sbbnright1:nth-child(19){
		display: none;

	}
	.sbbnright1:nth-child(20){
		display: none;

	}
	.sbbnright1:nth-child(21){
		display: none;

	}
	.sbbnright1:nth-child(22){
		display: none;

	}
	.sbbnright{
		width: 488px;
	}
	.sbbnright1{
		width: 25%;
	}
	.subbanner{
		width: 982px;
	}
	.main1{
		width: 982px;
	}
	.main1_1{
		width: 24%;
	}
	.main1_1xs{
		display: none;
	}
	.ggg{
		width: 982px;
	}
	.ggg img{
		width: 1400px;
	}
	.main2{
		width: 982px;
	}
	.main2_4{
		display: none;
	}
	.list{
		width: 982px;
	}
	.list1{
		width: 982px;
	}
	.endd{
		width: 982px;
	}
	.foot1{
		width: 942px;
	}
	.foot2{
		width: 942px;
	}
	.foot3_1{
		width: 942px;
	}
}