
@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.eot?t=1494917755534'); /* IE9*/
  src: url('../iconfont/iconfont.eot?t=1494917755534#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/iconfont.woff?t=1494917755534') format('woff'), /* chrome, firefox */
  url('../iconfont/iconfont.ttf?t=1494917755534') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/iconfont.svg?t=1494917755534#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-houtui:before { content: "\e60a"; }

.icon-jingyin:before { content: "\e621"; }
.icon-kaishi1:before { content: "\e64f"; }
.icon-kaishi:before { content: "\e60f"; }



.icon-shengyin:before { content: "\e61b"; }

.icon-hougun:before { content: "\e600"; }

