*{
	margin: 0;
	padding: 0;
	/*-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-appearance: none;
	-webkit-text-size-adjust:100%;
	-webkit-user-select:none;
	-webkit-overflow-scrolling:touch;
	-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);
	-webkit-user-select:none;user-select:none;
	-webkit-tap-highlight-color:rgba(255,255,255,0);
	-webkit-text-size-adjust: 100%;
  	text-size-adjust: 100%;*/
  	list-style: none;
}
a{
	text-decoration: none;	
	color:#fff;
	-webkit-tap-highlight-color:transparent;
}
img{
	display: block;
}
.head{
	width:100%;
	height: 9.6rem;
	background: #2691FD;
	overflow: hidden;
	position: relative;
}
.box{
	height: 1.67rem;
	width: 100%;
	background: #007BE3;
	display: flex;
	position: fixed;
	justify-content: space-around;
	justify-content:space-between
	top:0;
	left:0;
	z-index: 999;
}
.box p{
	width: 20%;
	font-size: 0.6rem;
	line-height: 1.87rem;
	text-align: center;
	color:#fff;
}
.banner{
	height:7.94rem;
	width: 100%;
	z-index: 0;
	position: absolute;
	top:1.67rem;
	background-image: url(../img/quanzhanbanner.png);
	background-size:cover;
	background-position: center;
}
.wuitt1{
	height:2.7rem ;
	width: 100%;
	padding-top:0.38rem;
	text-align: center;
	box-shadow: 0 0.2rem 0.2rem #CCCCCC ;
	background-image:url(../img/quanzhantt.png);
	background-size: contain;
	background-position: center;
	position: absolute;
}
.wuitt1 h2{
	font-size: 0.8rem;
	margin-top:0.28rem;
}
.wuitt1 h2 span{
	font-weight: normal;
}
.wuitt0{
	position: relative;
	width: 100%;
	height: 2.7rem;
}
.wuitt1_1{
	width: 75%;
	margin:0 auto;
	background: #E5E5E5;
	margin-top:0.2rem;	
}
.wuitt1_2{
	width: 10%;
	height: 0.04rem;
	margin:0 auto;
	background: #01B5FF;
}
.wuitt1 p{
	font-size: 0.4rem;
}
.wuimain1{
	height: 11.7rem;
	width: 100%;
	background-image: url(../img/quanzhan1.png);
	background-size: cover;
	padding: 0.6rem 0.47rem;
	box-sizing: border-box;
	margin-top:0.5rem;
	text-align: center;
}
.wuimain1 h2{
	font-size: 0.5rem;
	line-height: 1rem;
	color: #01B5FF;
}
.wuimain1 p{
	font-size: 0.5rem;
	line-height: 0.7rem;
}












.tittle{
	height: 3rem;
	width: 100%;
	padding:0.8rem 0;
	box-sizing: border-box;
	text-align: center;
}
.tittle0{
	height: 1.73rem;
	width: 5.7rem;
	margin:0 auto;
	display: flex;
	flex-wrap: wrap;
}
.tittle1{
	font-size: 0.7rem;
	border-bottom: 1px solid #88D4FC;
	height: 0.8rem;
	line-height: 0.7rem;
}
.tittle2{
	font-size: 0.7rem;
	font-weight: normal;
	border-bottom: 1px solid #88D4FC;
	height: 0.8rem;
	line-height: 0.7rem;
}
.main1_1_1_1 p{
	font-size: 0.6rem;
	margin:0 auto;
}
.wuitt00{
	background: #000;
}
.main1{
	width: 100%;
	height: 11em;
	margin-top:1rem;
}
.main1_1{
	height: 100%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background: #1B1D32;
	padding:0.74rem 0.44rem;
	padding-bottom: 1.5rem;
	box-sizing: border-box;
	margin-top:-0.62rem;
	position: relative;
}
.main1_1_1{
	height: 4.05rem;
	width: 4.05rem;
	background: yellow;
	background-size: cover;
	padding-top:1rem;
	padding:0.9rem 0;
	box-sizing: border-box;
	font-size: 0.5rem;
	text-align: center;
}
.main1_1_1 h2{
	font-size: 0.5rem;
}
.main1_1_1 p{
	margin-top:0.2rem;
}
.main1_1_1:nth-child(1){
	background-image: url(../img/quanzhan21.png) ;
}
.main1_1_1:nth-child(2){
	background-image: url(../img/quanzhan22.png) ;
}
.main1_1_1:nth-child(3){
	background-image: url(../img/quanzhan23.png) ;
}
.main1_1_1:nth-child(4){
	background-image: url(../img/quanzhan24.png) ;
}
.main1_1_1:nth-child(5){
	background-image: url(../img/quanzhan25.png) ;
}
.main1_1_1:nth-child(6){
	background-image: url(../img/quanzhan26.png) ;
}
/*第一部分结束*/

.tittle2_0{
	height: 2.5rem;
	position: relative;
}
.tittle2_1{
	height: 5rem;
	width: 100%;
	background: #1B1D32;
	text-align: center;
	padding-top:3rem;
	box-sizing: border-box;
}
.tittle2_1 h2{
	font-size: 0.6rem;
	font-weight: normal;
	color:#fff;
}
.tittle2_1_1{
	width: 30%;
	height: 0.16rem;
	border-top:0.03rem solid #fff;
	border-bottom:0.03rem dashed #fff;
	margin:0.2rem auto;
}
.tittle2_2{
	width: 100%;
	height: 13.8rem;
	box-sizing: border-box;
	position: relative;
	padding-top:1.17rem;
	position: relative;
}
.qzy1{
	position: absolute;
	height: 4.9rem;
	width: auto;
	top:1.5rem;
}
.qzy2{
	position: absolute;
	height: 4.9rem;
	width: auto;
	top:3.44rem;
	left:3.75rem;
}
.qzy3{
	position: absolute;
	height: 3.39rem;
	width: auto;
	top:0.6rem;
	left:6.95rem;
}
.qzy4{
	position: absolute;
	height: 3.8rem;
	width: auto;
	top:2.28rem;
	left:10.10rem;
}
.qzy5{
	position: absolute;
	height: 3.25rem;
	width: auto;
	top:6.9rem;
	left:0.47rem;
}
.qzy6{
	position: absolute;
	height: 3.44rem;
	width: auto;
	top:9.4rem;
	left:5.9rem;
}
.qzy7{
	position: absolute;
	height: 2.58rem;
	width: auto;
	top:8.1rem;
	left:10.6rem;
}
.qzy8{
	position: absolute;
	height: 3.96rem;
	width: auto;
	top:5.88rem;
	right:0;
}
.xiaoyuan1{
	width: 1.92rem;
	height: 1.92rem;
	position: absolute;
	top:4.78rem;
	left:1.7rem;
	background: #FF7616;
	border-radius: 50%;
}
.xiaoyuan2{
	width: 1.72rem;
	height: 1.72rem;
	position: absolute;
	top:5.74rem;
	left:8.84rem;
	background: #79E179;
	border-radius: 50%;
}
.xiaoyuan3{
	width: 0.96rem;
	height: 0.96rem;
	position: absolute;
	top:6.94rem;
	left:11.1rem;
	background: #FFD906;
	border-radius: 50%;
}
.xiaoyuan4{
	width: 2.12rem;
	height: 2.12rem;
	position: absolute;
	top:7.5rem;
	left:8.1rem;
	background: #8366FF;
	border-radius: 50%;
}
.xiaoyuan5{
	width: 2.25rem;
	height: 2.25rem;
	position: absolute;
	top:8.88rem;
	left:3.5rem;
	background: #FF7474;
	border-radius: 50%;
}
.xiaoyuan6{
	width: 2.08rem;
	height: 2.08rem;
	position: absolute;
	top:10.57rem;
	left:1.67rem;
	background: #FFD906;
	border-radius: 50%;
}
.quanzhan4{
	height: 3.4rem;
	width: 100%;
	background: #1B1D32;
	padding: 1rem 3.5rem;
	padding-bottom: 0;
	text-align: center;
	margin-top:0.2rem;
	box-sizing: border-box;
	position: relative;
}
.quanzhan4 p{
	font-size: 0.6rem;
	color:#fff;
}
.quanzhan4_1{
	width: 100%;
	height:0.18rem ;
	border-top:0.04rem solid #fff;
	border-bottom: 0.04rem dashed #FFF;
	margin-top:0.1rem;
}
.quanzhan4_2{
	height: 10.5rem;
	width: 100%;
	background: #1B1D32;
}
.quanzhan4_2 img{
	width: 13.2rem;
	height: 9.2rem;
	margin:0 auto;
}



/*了解更多的框*/
.tittle2_4{
	height: 2rem;
	width: 100%;
	background: #1B1D32;
	padding-top: 0.4rem;
	text-align: center;
	color:#fff;
	position: relative;
	background: #1B1D32;
}
.tittle2_4 img{
	height: 1.52rem;
	width: 5.8rem;
	margin:0 auto;
}
.tittle2_4 span{
	position: absolute;
	top:0.7rem;
	left:5.8rem;
	font-size: 0.6rem;
}
/*了解更多的框*/






















.uitittle3{
	margin-top:-0.8rem;
	background-image: url(../img/uitittle1.png);
}
.tittle3{
	height: 8rem;
	width: 100%;
	margin-top:1rem;
	padding: 0 0.48rem;
	box-sizing: border-box;
	background: #F5F6FA;
}
.tittle3_1{
	width: 100%;
	height: 1.16rem;
	display: flex;
	text-align: center;
}
.tittle3_1 div{
	width: 25%;
	height: 100%;
	border-radius: 0.2rem 0.2rem 0 0;
}
.tittle3_1 div:first-child{
	width: 2.48rem;
	background: #40ABFD;
}
.tittle3_1 div:nth-child(2){
	width: 3.44rem;
	background: #219EFF;
}
.tittle3_1 div:last-child{
	width: 7.5rem;
	flex-grow: 2;
	background: #118DED;
}
.tittle3_1 span{
	font-size: 0.5rem;
	display: block;
	line-height: 1.16rem;
	color:#fff;
}
.tittle3_2{
	width: 100%;
	height: 6.7rem;
	border:0.04rem solid #1875FF;
	box-sizing: border-box;
}
.tittle3_2 ul{
	width: 100%;
	height: 100%;
}
.tittle3_2 ul li{
	height: 20%;
	width: 100%;
	font-size: 0.5rem;
	display: flex;
	
}
.tittle3_2 ul li span{
	width: 2.48rem;
	line-height: 1.25rem;
	text-align: center;
	display: block;
	overflow: hidden;
}
.tittle3_2 ul li span:nth-child(2){
	width: 3.44rem;
	color: #FCB950;
}
.tittle3_2 ul li span:nth-child(3){
	width: 7.5rem;
}
.tittle2_5{
	background: #1B1D32;
	height: 3rem;
}
.tittle2_6{
	background: #F5F5F5;
}
.tittle4_1{
	height: 26rem;
	width: 100%;
	background: #1B1D32;
	padding:0 0.48rem;
	margin-top:0.2rem;
	box-sizing: border-box;
	padding-left: 2.3rem;
	padding-top:1.23rem;
	position: relative;
}
.qz5_1{
	height: 20rem;
	width: 1.6rem;
	position: absolute;
	left:0.6rem;
	top:1.1rem;
}
.qz5zhuan{
	height: 1.6rem;
	width: 1.6rem;
	background-image: url(../img/qzsz01.png);
	background-size: cover;
}
.qz5zhuan1{
	margin-top:1.8rem;
	background-image: url(../img/qzsz02.png);
}
.qz5zhuan2{
	margin-top:1.8rem;
	background-image: url(../img/qzsz03.png);
}
.qz5zhuan3{
	margin-top:2.5rem;
	background-image: url(../img/qzsz04.png);
}
.qz5zhuan4{
	margin-top:2.5rem;
	background-image: url(../img/qzsz05.png);
}
.qz5zhuan5{
	margin-top:3.2rem;
	background-image: url(../img/qzsz06.png);
}
.qz5zhuan img{
	width: 1.6rem;
	height: 1.6rem;
	animation-name: animation1;
	animation-play-state: running;
	/* 进去直接播放 */
	animation-iteration-count: infinite;
	/* 动画 无限播放次数 */
	animation-duration: 5s;
	/* 必须 动画时间 */
	animation-timing-function: linear;
}
@keyframes animation1{
	0%{
		 transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
/*转的动画*/
.php4_2{
	height: 17rem;
	width: 100%;
}
.php4_2_1{
	height: 3.3rem;
	width: 100%;
}
.php4_2_1_1{
	height: 1.04rem;
	width: 100%;
	font-size: 0.5rem;
	color:#F7CD0C;
	line-height: 1.04rem;
	border-bottom: 0.04rem dashed #F7CD0C;
}
.php4_2_1 p{
	font-size: 0.4rem;
	color:#fff;
	margin-top: 0.1rem;
	line-height: 0.7rem;
}
.php4_2_2{
	height: 4.2rem;
	width: 100%;
}
.php4_0{
	color:#DD534E;
	border-bottom: 0.04rem dashed #DD534E;
}
.php4_2_1_3{
	color:#87BF7F;
	border-bottom: 0.04rem dashed #87BF7F;
}
.php4_2_1_4{
	color:#1FA4DB;
	border-bottom: 0.04rem dashed #1FA4DB;
}
.php4_2_3{
	height: 4.7rem;
}
.php4_2_1_6{
	color:#A86BAA;
	border-bottom: 0.04rem dashed #1FA4DB;
}
.foot{
	height: 9.02rem;
	width: 100%;
	box-sizing: border-box;
	margin-top:0.3rem;
}
.foot1{
	height: 3rem;
	width: 100%;
	position: relative;
}
.foot1 img{
	position: absolute;
	height: 100%;
	width: 100%;
}
.foot2{
	height: 7rem;
	width: 100%;
	display:flex;
	flex-wrap: wrap;
	align-items:center;
	padding: 0 2.12rem;
	box-sizing: border-box;
}
.foot2 p{
	font-size: 0.52rem;
	margin-top:0.2rem;
	text-align: right;
}
.foot2 input{
	width: 7.8rem;
	height: 1rem;
	border-radius: 0.5rem;
	list-style: none;
	margin-left: 0.5rem;
	margin-top:0.2rem;
	padding-left:0.8rem;
	box-sizing: border-box;
	border:0.02rem solid #94F0FD;
	outline: none;
	font-size: 0.5rem;
}
.foot3{
	width: 7.8rem;
	height: 1rem;
	border-radius: 0.5rem;
	list-style: none;
	margin-left: 0.5rem;
	margin-top:0.2rem;
	padding-left:0.8rem;
	box-sizing: border-box;	
	border:0.02rem solid #94F0FD;
	background: #fff;
	outline: none;
	font-size: 0.5rem;
}
.footer{
	height: 1.65rem;
	width: 100%;
	padding:0 1.2rem;
	box-sizing: border-box;
	text-align: center;
}
.footer p{
	font-size: 0.2rem;
	line-height: 0.8rem;
	color:#666666;
}
.tittle2_7{
	margin-top:1.2rem;
	height: 2rem;
	text-align: center;
	position: relative;
	background: none;
}
.tittle2_7 span{
	font-size: 0.7rem;
	position: absolute;
	top:0.65rem;
	left:0 ;
	right:0;
	margin:0 auto;
}
.dibu{
	height: 1.73rem;
	width: 100%;
	background: blue;
	position: fixed;
	bottom:0;
	left:0;
	z-index: 999;
	background: #E7E7E7;
	display: flex;
}
.dibu div:first-child{
	width: 4.3rem;
	height: 1.64rem;
	text-align: center;
}
.dibu div:nth-child(2){
	height: 1.849rem;
	width: 6.165rem;
	position: relative;
	top:-0.25rem;
	background: #FF8D12;
	border-radius: 0.24rem;
	text-align: center;
}
.dibu div:nth-child(3){
	width: 4.3rem;
	height: 1.64rem;
	text-align: center;
}
.dibu div i{
	display: block;
	float: left;
	line-height: 1.64rem;
	font-size: 0.6576rem;
	margin-left:0.411rem;
}
.dibu div span{
	font-size: 0.5rem;
	display: block;
	float: left;
	line-height: 1.64rem;
	margin-left:0.25rem;
}
.dibu .icon-dianhua{
	margin-left:1.4385rem;
	line-height: 1.849rem;
	color:#fff;
}
.dibu .dibu2{
	line-height: 1.849rem;
	color:#fff;
}
.dibu div:nth-child(2){
	box-shadow:0 0 0.03rem #FF8D12;
}
.kongbai{
	height: 1.85rem;
	width: 100%;
}