*{
	margin: 0;
	padding: 0;
	/*-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-appearance: none;
	-webkit-text-size-adjust:100%;
	-webkit-user-select:none;
	-webkit-overflow-scrolling:touch;
	-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);
	-webkit-user-select:none;user-select:none;
	-webkit-tap-highlight-color:rgba(255,255,255,0);
	-webkit-text-size-adjust: 100%;
  	text-size-adjust: 100%;*/
  	list-style: none;
}
a{
	text-decoration: none;	
	color:	#fff;
}
img{
	display: block;
}
html,body{
	width: 100%;
	height: 100%;
}
body{
	overflow: scroll;
	background: #F5F6FA;
}
.head{
	width:100%;
	height: 8.12rem;
	background:url(../img/jpszbanner.jpg);
	background-size: contain;
	background-position: center;
	overflow: hidden;
}
.box{
	height: 1.67rem;
	width: 100%;
	background: #007BE3;
	display: flex;
	position: fixed;
	justify-content: space-around;
	justify-content:space-between
	top:0;
	left:0;
	z-index: 999999999999;
}
.box p{
	width: 20%;
	font-size: 0.6rem;
	line-height: 1.87rem;
	text-align: center;
	color:#fff;
}
.tittle{
	height: 1.65rem;
	width: 100%;	
	padding:0 0.48rem;
	box-sizing: border-box;
}
.tittle a{
	color:#000;
}
.tittle p{
	font-size: 0.5rem;
	line-height: 1.65rem;
	width: 100%;
}
.beijing{
	width: 13.44rem;
	height: 38rem;
	background: #FFF;
	margin:0 auto;
	padding:0.2rem 0.42rem;
	box-sizing: border-box;
}
.main2{
	height: 6.4rem;
	width: 100%;
	margin-top:0.2rem;
	position: relative;
	border-top:0.01px;
}
.main2 h2{
	font-size: 0.45rem;
	width: 50%;
	margin: 0.68rem auto;
	text-align: center;
	color:#A59999;	
}
.huaxian{
	height: 0.04rem;
	width: 1.56rem;
	background: #666666;
	margin:0 auto;
}
.main2>p{
	font-size: 0.38rem;
	margin-top:0.78rem;
	text-align: center;
	color:#666666;
}
.main2 h3{
	font-size: 0.5rem;
	color:#666666;
	font-weight: normal;
	margin-top:0.34rem;
	line-height: 0.88rem;
	text-align: justify;
}
.main3{
	height: 3.32rem;
	width: 100%;
	border-top:0.04rem solid #666666;
	border-bottom:0.04rem solid #666666;
	margin-top:2rem;
}
.main3_1{
	height: 33.33333%;
	width: 100%;
	display: flex;
	justify-content: space-around;
	font-size: 0.55rem;
	color:#595959;
	line-height: 1.2rem;
}
.main3_1:nth-child(1)~div{
	font-size: 0.4rem;
	color:#666666;
}
.main4{
	height: 11.42rem;
}
.main2 h4{
	margin-top:0.6rem;
	font-size: 0.5rem;
	font-weight: normal;
	color:#666666;
}
.shitingtu{
	height: 3.44rem;
	width: 9.23rem;
	margin:0.8rem auto;
	display: flex;
	justify-content: space-between;
}
.shitingtu img{
	width: 4.24rem;
	height: 100%;
}
.mainfoot{
	height: 9rem;
}
.shitingfoot{
	height: 4.75rem;
	width: 100%;;
	border-top:0.04rem solid #666666;
	border-bottom:0.04rem solid #666666;
	margin-top:0.55rem;
	box-sizing: border-box;
}
.stfoot1{
	height: 2.78rem;
	width: 100%;
	display: flex;
	padding-left:1.1rem;
	flex-direction: row;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: center;
	font-size: 0.5rem;
	color: #848484;
}
.stfoot1 p:first-child{
	font-size: 1rem;
	font-weight: 200;
}
.stfoot1 img{
	height: 1rem;
	width: 0.5rem;
}
.stfoot2{
	height: 1.9rem;
	width: 100%;
	font-size: 0.5rem;
	display: flex;
	color:#848484;
	padding-left:1.1rem;
	border-top:0.04rem solid #848484;
	box-sizing: border-box;
}
.stfoot2 p:first-child{
	font-size: 1rem;
	font-weight: 200;
	line-height: 1.9rem;
}
.stfoot2 p:nth-child(2){
	margin-left:0.3rem;
	line-height: 1.9rem;
}
.stfoot2 p:nth-child(3){
	margin-left:0.6rem;
	line-height: 1.9rem;
}
.foot{
	height: 9.02rem;
	width: 100%;
	padding: 0 2.12rem;
	box-sizing: border-box;
}
.foot1{
	font-size: 0.45rem;
	text-align: center;
}
.foot2{
	height: 7rem;
	width: 100%;
	margin-top:1.2rem;
	display:flex;
	flex-wrap: wrap;
	align-items:center;
}
.foot2 p{
	font-size: 0.52rem;
	margin-top:0.2rem;
	width:1.5rem;
	text-align: right;	
}
.foot2 input{
	width: 7.8rem;
	height: 1rem;
	border-radius: 0.5rem;
	list-style: none;
	margin-left: 0.5rem;
	margin-top:0.2rem;
	padding-left:0.8rem;
	box-sizing: border-box;
	border:0.02rem solid #94F0FD;
	outline: none;
}
.foot3{
	width: 7.8rem;
	height: 1rem;
	border-radius: 0.5rem;
	list-style: none;
	margin-left: 0.5rem;
	margin-top:0.2rem;
	padding-left:0.8rem;
	box-sizing: border-box;	
	border:0.02rem solid #94F0FD;
	background: #fff;
	outline: none;
}
.footer{
	height: 1.65rem;
	width: 100%;
	padding:0 1rem;
	box-sizing: border-box;
	text-align: center;
	margin-top:1rem;
}
.footer p{
	font-size: 0.2rem;
	line-height: 0.8rem;
	color:#666666;
}
.dibu{
	height: 1.73rem;
	width: 100%;
	position: fixed;
	bottom:0;
	left:0;
	z-index: 999;
	background: #E7E7E7;
	display: flex;
}
.dibu div:first-child{
	width: 4.3rem;
	height: 1.64rem;
	text-align: center;
}
.dibu div:nth-child(2){
	height: 1.849rem;
	width: 6.165rem;
	position: relative;
	top:-0.25rem;
	background: #FF8D12;
	border-radius: 0.24rem;
	text-align: center;
}
.dibu div:nth-child(3){
	width: 4.3rem;
	height: 1.64rem;
	text-align: center;
}
.dibu div i{
	display: block;
	float: left;
	line-height: 1.64rem;
	font-size: 0.6576rem;
	margin-left:0.411rem;
}
.dibu div span{
	font-size: 0.5rem;
	display: block;
	float: left;
	line-height: 1.64rem;
	margin-left:0.25rem;
}
.dibu .icon-dianhua{
	margin-left:1.4385rem;
	line-height: 1.849rem;
	color:#fff;
}
.dibu .dibu2{
	line-height: 1.849rem;
	color:#fff;
}
.dibu div:nth-child(2){
	box-shadow:0 0 0.03rem #FF8D12;
}
.kongbai{
	height: 2.2rem;
	width: 100%;
}
