*{
	margin: 0;
	padding: 0;
	/*
	-webkit-appearance: none;
	-webkit-text-size-adjust:100%;
	-webkit-user-select:none;
	-webkit-overflow-scrolling:touch;
	-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);
	-webkit-user-select:none;user-select:none;
	-webkit-text-size-adjust: 100%;
  	text-size-adjust: 100%;*/
  	list-style: none;
  	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a{
	text-decoration: none;	
	color:#fff;
}
img{
	display: block;
}
.head{
	width:100%;
	height: 8.12rem;
	background: #2691FD;
	overflow: hidden;
}
.box{
	height: 1.67rem;
	width: 100%;
	background: #007BE3;
	display: flex;
	position: fixed;
	justify-content: space-around;
	justify-content:space-between
	top:0;
	left:0;
	z-index: 9999;
}
.box p{
	width: 20%;
	font-size: 0.6rem;
	line-height: 1.87rem;
	text-align: center;
	color:#fff;
}
.headright{
	width: 2.72rem;
	height: 1.16rem;
	background: #03159B;
	position: absolute;
	right:0.4932rem;
	top:0.2rem;
	border-radius: 0.1644rem;
	text-align: center;
}
.headright span{
	font-size: 0.4932rem;
	position: absolute;
	right:0.44rem;
	line-height: 1.16rem;
	color:#fff;
}
.X{
	position: absolute;
	right:4.31rem;
	top:0.4rem;
}
.banner{
	height:7.94rem;
	width: auto;
	z-index: 0;
	position: absolute;
	top:1.67rem;
	background-image: url(../img/bnbj.png);
	background-size: cover;
}
.tittle{
	height: 3rem;
	width: 100%;
	padding:0.8rem 0;
	box-sizing: border-box;
	text-align: center;
	margin-top:1.43rem;
}
.tittle0{
	height: 1.73rem;
	width: 5.7rem;
	margin:0 auto;
	display: flex;
	flex-wrap: wrap;
}
.tittle1{
	font-size: 0.7rem;
	border-bottom: 1px solid #88D4FC;
	height: 0.8rem;
	line-height: 0.7rem;
}
.tittle2{
	font-size: 0.7rem;
	font-weight: normal;
	border-bottom: 1px solid #88D4FC;
	height: 0.8rem;
	line-height: 0.7rem;
}
.tittle p{
	font-size: 0.6rem;
	margin:0 auto;
}
.main1{
	width: 100%;
	height: 11em;
	margin-top:0.2rem;
}
.main1_1{
	height: 100%;
	width: 90%;
	margin:0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.main1_1_1{
	height: 4.68rem;
	width: 4rem;
	position: relative;
	text-align: center;
}
.main1_1_1_1{
	width: 100%;
	height: 1.88rem;
	background-image: url(../img/uimain1.png);
	background-size: cover;
}
.main1_1_1_2{
	background-image: url(../img/uimain2.png);
}
.main1_1_1_3{
	background-image: url(../img/uimain3.png);
}
.main1_1_1_4{
	background-image: url(../img/uimain4.png);
}
.main1_1_1_5{
	background-image: url(../img/uimain5.png);
}
.main1_1_1_6{
	background-image: url(../img/uimain6.png);
}
.main1_1_1 P{
	font-size: 0.5em;
	font-weight: bold;
	line-height: 1.88rem;
	margin-left:0.8rem;
	color:#fff;
}
.main1_1_3{
	height: 2.7rem;
	width: 100%;
	position: absolute;
	bottom:0;
	border:0.04rem dashed #F2A111;
	box-sizing: border-box;
	text-align: center;
	font-size: 0.4rem;
}
.main1_1_3 span{
	display: block;
	margin-top:0.5rem;
}
.main1_1_3_1{
	border:0.04rem dashed #2F90DA; ;
}
.main1_1_3_2{
	border:0.04rem dashed #F87844; ;
}
.main1_1_3_3{
	border:0.04rem dashed #1BBF99; ;
}
.main1_1_3_4{
	border:0.04rem dashed #F8CE68; ;
}
.main1_1_3_5{
	border:0.04rem dashed #C16BBB; ;
}
/*第一部分结束*/
.uitittle1{
	width: 100%;
	height: 2.5rem;
	background-image: url(../img/uitittle1.png);
	background-size: cover;
	text-align: center;
	padding-top:0.7rem;
	box-sizing: border-box;
}
.uitittle1 h2{
	font-size: 0.7rem;
	color:#fff;
}
.uitittle1 h2:last-child{
	font-size: 0.55rem;
}
.uittx1{
	width: 35%;
	height: 0.05rem;
	margin:0 auto;
	background: rgba(255,255,255,0.5);
}
.uittxx{
	height: 100%;
	width: 15%;
	margin:0 auto;
	background: #fff;
}
.tittle1_1{
	height: 11.63rem;
	width: 100%;
	padding:0.95rem 0.5rem;	
	box-sizing: border-box;
	position: relative;
}
.tittle1_1_1{
	height:6rem;
	width: 100%;
	border:0.05rem dashed #000;
	box-sizing: border-box;
	text-align: center;
}
.tittle1_1_1 h2{
	margin-top:0.2rem;
	font-size: 0.5rem;
	color:#00A8FF;
}
.tittle1_1_1 p{
	font-size: 0.5rem;
	color:#000;
}
.tittle1_1_1 p:last-child{
	margin-top:0.5rem;
}
.tittle1_1 img{
	height: 6rem;
	width: 13.5rem;
	margin-top: 1rem;
}
.tittle2_0{
	height: 2.5rem;
	position: relative;
}
.uitittle2{
	position: absolute;
	top:0.4rem;
	background-image: url(../img/uitittle2.png);
}
.uitittle2 h2 span{
	font-weight: normal;
}
.tittle2_1{
	height: 5rem;
	width: 100%;
	background: #1B1D32;
	text-align: center;
	padding-top:3rem;
	box-sizing: border-box;
}
.tittle2_1 h2{
	font-size: 0.6rem;
	font-weight: normal;
	color:#fff;
}
.tittle2_1_1{
	width: 30%;
	height: 0.16rem;
	border-top:0.03rem solid #fff;
	border-bottom:0.03rem dashed #fff;
	margin:0.2rem auto;
}
.tittle2_2{
	width: 100%;
	height: 8.5rem;
	background: #1B1D32;
	box-sizing: border-box;
	background-image: url(../img/gzzf.png);
	background-size: 90% auto ;
	background-repeat: no-repeat;
	background-position-x: 0.5rem;
	padding-left:2.5rem;
	box-sizing: border-box;
	position: relative;
}
.tittle2_2_1{
	height: 0.64rem;
	width: 1.6rem;
	background: #FFF100;
	position: absolute;
	top:0.9rem;
}
.tittle2_2_1:nth-child(2){
	width: 2.52rem;
	background: #1DFFBD;
	top:2rem;
}
.tittle2_2_1:nth-child(3){
	width: 9.24rem;
	background: #0C51FF;
	top:3.2rem;
}
.tittle2_2_1:nth-child(4){
	width: 5.3rem;
	background: #00A8FF;
	top:4.3rem;
}
.tittle2_2_1:nth-child(5){
	width: 1.76rem;
	background: #1BEFE8;
	top:5.4rem;
}
.tittle2_3{
	height: 10rem;
	width: 100%;
	background:#1B1D32 ;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	box-sizing: border-box;
	padding:0 0.2rem;
}
.tittle2_3 div{
	width: 6.5rem;
	height: 4.6rem;
	background-image: url(../img/uitittle5.png);
	background-size: 6.4rem 4.6rem;
	background-repeat: no-repeat;	
	text-align: center;
	font-size: 0.4rem;
	color:#fff;
}
.tittle2_3_1 p{
	line-height: 0.8rem;
	margin-top:0.2rem;
}
.tittle2_3_1 h3{
	margin-top:0.3rem;
	font-size: 0.6rem;
	font-weight: normal;
}
.tittle2_3 .tittle2_3_2{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background: none;
}
.tittle2_3_2 p{
	line-height: 0.8rem;
	margin-top:0.2rem;
}
.tittle2_3_2 h3{
	margin-top:0.3rem;
	font-size: 0.6rem;
	font-weight: normal;
}
.tittle2_4{
	height: 2rem;
	width: 100%;
	background: #1B1D32;
	padding-top: 0.4rem;
	text-align: center;
	color:#fff;
	position: relative;
}
.tittle2_4 a{
	height: 1.52rem;
	display: block;
	width: 5.8rem;
	margin:0 auto;
}
.tittle2_4 img{
	height: 100%;
	width: 100%;
}
.tittle2_4 span{
	position: absolute;
	top:0.7rem;
	left:5.8rem;
	font-size: 0.6rem;
}
.uitittle3{
	margin-top:-0.8rem;
	background-image: url(../img/uitittle1.png);
}
.tittle3{
	height: 8rem;
	width: 100%;
	margin-top:0.5rem;
	padding: 0 0.48rem;
	box-sizing: border-box;
}
.tittle3_1{
	width: 100%;
	height: 1.16rem;
	display: flex;
	text-align: center;
}
.tittle3_1 div{
	width: 25%;
	height: 100%;
	border-radius: 0.2rem 0.2rem 0 0;
}
.tittle3_1 div:first-child{
	width: 2.48rem;
	background: #40ABFD;
}
.tittle3_1 div:nth-child(2){
	width: 3.44rem;
	background: #219EFF;
}
.tittle3_1 div:last-child{
	width: 7.5rem;
	flex-grow: 2;
	background: #118DED;
}
.tittle3_1 span{
	font-size: 0.5rem;
	display: block;
	line-height: 1.16rem;
	color:#fff;
}
.tittle3_2{
	width: 100%;
	height: 6.7rem;
	border:0.04rem solid #1875FF;
	box-sizing: border-box;
}
.tittle3_2 ul{
	width: 100%;
	height: 100%;
}
.tittle3_2 ul li{
	height: 20%;
	width: 100%;
	font-size: 0.5rem;
	display: flex;
	
}
.tittle3_2 ul li span{
	width: 2.48rem;
	line-height: 1.25rem;
	text-align: center;
	display: block;
	overflow: hidden;
}
.tittle3_2 ul li span:nth-child(2){
	width: 3.44rem;
	color: #FCB950;
}
.tittle3_2 ul li span:nth-child(3){
	width: 7.5rem;
}
.tittle2_5{
	background: none;
}
.uitittle4{
	background-image: url(../img/uitittle3.png);
}
.tittle4{
	background: #EEEFF3;
}
.tittle4_1{
	height: 33rem;
	width: 100%;
	background: #EEEFF3;
	padding:0 0.48rem;
	box-sizing: border-box;
	padding-top: 1rem;
}

.tittle4_1 ul {
	width: 100%;
	height: 31rem;
	
}
.tittle4_1 ul li{
	box-sizing: border-box;
	margin-top:0.8rem;
	width: 100%;
	background: #fff;
}
.tittle4_1 ul  li:first-child{
	height: 4.4rem;	
}
.tlttle4_1_1{
	width: 100%;
	height: 1.56rem;
	border-top:0.08rem solid #F88C00;
	border-bottom: 0.05rem dashed #A0A0A0;
	font-size: 0.6rem;
	font-weight: normal;
	line-height: 1.56rem;
	box-sizing: border-box;
	padding-left: 0.4rem;
}
.tittle4_1_2{
	font-size: 0.55rem;
	color:#666666;
	padding-top:0.4rem;
	padding-right:0.45rem;
	padding-left: 0.4rem;
}
.tittle4_1 ul  li:nth-child(2){
	height: 3.72rem;	
}
.tittle4_1_1_1{
	border-top:0.08rem solid #32AFFF;
}
.tittle4_1 ul  li:nth-child(3){
	height: 5.3rem;	
}
.tittle4_1 ul  li:nth-child(4){
	height: 3.72rem;	
}
.tittle4_1 ul  li:nth-child(5){
	height: 3.72rem;	
}
.tittle4_1 ul  li:nth-child(6){
	height: 5.3rem;	
}
.tittle4_1_1_2{
	border-top:0.08rem solid #EB6877;
}
.tittle4_1_1_3{
	border-top:0.08rem solid #22AC38;
}
.tittle4_1_1_4{
	border-top:0.08rem solid #EA61D5;
}
.tittle4_1_1_5{
	border-top:0.08rem solid #13E5E3;
}
.uitittle5{
}
.tittle5{
	width: 100%;
	height: 18.5rem;
	background: #F5F6FA;
	padding:0 0.46rem;
	padding-top:1.36rem;
	box-sizing: border-box;
}
.tittle5_1{
	width: 100%;
	height: 15.55rem;
	display: flex;
	flex-wrap: wrap;
	justify-content:space-between;
}
.tittle5_1 div{
	width: 6.6rem;
	height: 5.05rem;
	background: red;
	margin-top:0.2rem;
}
.tittle5_1 div:nth-child(1){
	background-image: url(../img/ui51.png);
	background-size: cover;
}
.tittle5_1 div:nth-child(2){
	background-image: url(../img/ui52.png);
	background-size: cover;
}
.tittle5_1 div:nth-child(3){
	width: 100%;
	background-image: url(../img/ui53.png);
	background-size: cover;
}
.tittle5_1 div:nth-child(4){
	background-image: url(../img/ui54.png);
	background-size: cover;
}
.tittle5_1 div:nth-child(5){
	background-image: url(../img/ui55.png);
	background-size: cover;
}
.uitittle6{
	margin-top:-1rem;
	background-image: url(../img/uitittle1.png);
}
.foot{
	height: 9.02rem;
	width: 100%;
	padding: 0 2.12rem;
	box-sizing: border-box;
}
.foot1{
	font-size: 0.45rem;
	text-align: center;
}
.foot2{
	height: 7rem;
	width: 100%;
	margin-top:1.2rem;
	display:flex;
	flex-wrap: wrap;
	align-items:center;
}
.foot2 p{
	font-size: 0.52rem;
	margin-top:0.2rem;
	width:1.5rem;
	text-align: right;	
}
.foot2 input{
	width: 7.8rem;
	height: 1rem;
	border-radius: 0.5rem;
	list-style: none;
	margin-left: 0.5rem;
	margin-top:0.2rem;
	padding-left:0.8rem;
	box-sizing: border-box;
	border:0.02rem solid #94F0FD;
	outline: none;
	font-size: 0.5rem;
}
.foot3{
	width: 7.8rem;
	height: 1rem;
	border-radius: 0.5rem;
	list-style: none;
	margin-left: 0.5rem;
	margin-top:0.2rem;
	padding-left:0.8rem;
	box-sizing: border-box;	
	border:0.02rem solid #94F0FD;
	background: #fff;
	outline: none;
	font-size: 0.5rem;
}
.footer{
	height: 1.65rem;
	width: 100%;
	padding:0 1.2rem;
	box-sizing: border-box;
	text-align: center;
}
.footer p{
	font-size: 0.2rem;
	line-height: 0.8rem;
	color:#666666;
}
.dibu{
	height: 1.73rem;
	width: 100%;
	background: blue;
	position: fixed;
	bottom:0;
	left:0;
	z-index: 999;
	background: #E7E7E7;
	display: flex;
}
.dibu div:first-child{
	width: 4.3rem;
	height: 1.64rem;
	text-align: center;
}
.dibu div:nth-child(2){
	height: 1.849rem;
	width: 6.165rem;
	position: relative;
	top:-0.25rem;
	background: #FF8D12;
	border-radius: 0.24rem;
	text-align: center;
}
.dibu div:nth-child(3){
	width: 4.3rem;
	height: 1.64rem;
	text-align: center;
}
.dibu div i{
	display: block;
	float: left;
	line-height: 1.64rem;
	font-size: 0.6576rem;
	margin-left:0.411rem;
}
.dibu div span{
	font-size: 0.5rem;
	display: block;
	float: left;
	line-height: 1.64rem;
	margin-left:0.25rem;
}
.dibu .icon-dianhua{
	margin-left:1.4385rem;
	line-height: 1.849rem;
	color:#fff;
}
.dibu .dibu2{
	line-height: 1.849rem;
	color:#fff;
}
.dibu div:nth-child(2){
	box-shadow:0 0 0.03rem #FF8D12;
}
.kongbai{
	height: 1.85rem;
	width: 100%;
}
